<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 50px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">Home</h2>
    <p class="text-center">Welcome to the Quiz App!</p>
    {% if is_authorized %}
    <p class="text-center">You are already authorized</p>
    <div class="text-center">
        <a href="{{ url_for('quiz_selection') }}" class="btn btn-secondary">Select quiz</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
    {% else %}
    <div class="text-center">
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-success">Register</a>
        {% endif %}
    </div>
</div>
</body>
</html>
