<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz_title }} Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">{{ quiz_title }} Quiz</h1>
        <div id="timer"></div>
        <form action="/submit_quiz_answers?quiz_name={{ quiz_title }}" method="post">
            <ul class="list-unstyled">
                {% for question in questions %}
                    <li class="mb-4">
                        <p>{{ question['question'] }}</p>
                        <ul class="list-unstyled ml-3">
                            {% for answer in question['answers'] %}
                                <li>
                                    <input type="radio" id="{{ answer }}" name="{{ question['question'] }}" value="{{ answer }}" class="mr-2">
                                    <label for="{{ answer }}">{{ answer }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary">Submit Answers</button>
        </form>
    </div>

    <script>
        // Функция для запуска таймера на JS
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                    alert('Time up! Quiz submission is automatic now.');
                    document.querySelector('form').submit(); // Автоматическая отправка формы по истечении времени
                }
            }, 1000);
        }

        window.onload = function () {
            var fiveMinutes = 60 * 5,
                display = document.querySelector('#timer');
            startTimer(fiveMinutes, display);
        };
    </script>
</body>
</html>
