{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Registration</h2>
    <form action="{{ url_for('signup') }}" method="post">
        <div class="form-group">
            <label for="username">Full name:</label>
            <input type="text" class="form-control" id="username" name="username" required
                   value="{{ inputted_username }}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required value="{{ inputted_email }}">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        {% if alert_message %}
        <div class="alert alert-warning" role="alert">
            {{ alert_message }}
        </div>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
        <h5 style="padding-top: 40px;">Already have an account?</h5>
        <a type="button" class="btn btn-success btn-sm" href="{{ url_for('signin') }}">Sign in</a>
    </form>
</div>
{% endblock %}